html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

h1{
    color:rgb(204, 119, 45);
}
body{
    background-color: rgb(233, 217, 217);
}

div.direcc{
    margin-bottom: 4rem;
}