:root{
  --primario: #ffd5cdef;
  --secundario: #EFBBCF;
  --terciario: #d2c1e2;
  --cuaternario: #8675A9;
  --primero: #968C83;
  --segundo: #D6D2C4;
  --tercero: #FFF5EA;
  --cuarto: #F7DAD9;
  --quinto: #0C4271;
  --sexto: #F9DFDC;
}

h1{
    margin-top: 4rem;
    text-align: center;
    color:rgb(0, 0, 0);
}

a.navbar-brand{
  font-family: 'Patrick Hand', cursive;
}
 
.card{
  border-radius: 5px;
}
